@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: medium; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; background-color: #f4f5f7; }
body::-moz-selection { color: white; background-color: #78baff; }
body::selection { color: white; background-color: #78baff; }

#_loading { position: fixed; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; background-color: #f4f5f7; z-index: 9999; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
#_loading:before, #_loading span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-animation: show 0.3s forwards; -webkit-animation: show 0.3s forwards; animation: show 0.3s forwards; -moz-animation-delay: 0.75s; -webkit-animation-delay: 0.75s; animation-delay: 0.75s; }
#_loading:before { content: "載入中，請稍候…"; position: absolute; left: 50%; top: calc(50% - 19px); display: inline-block; height: 20px; line-height: 20px; font-size: 14px; color: rgba(0, 0, 0, 0.5); -moz-transform: translate(-50%, calc(-50%)); -ms-transform: translate(-50%, calc(-50%)); -webkit-transform: translate(-50%, calc(-50%)); transform: translate(-50%, calc(-50%)); }
#_loading span { position: absolute; left: 50%; top: 50%; display: inline-block; width: 200px; height: 10px; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; overflow: hidden; }
#_loading span:before, #_loading span:after { content: ""; position: absolute; left: 0; top: 0; display: inline-block; height: 100%; }
#_loading span:after { width: 100%; z-index: 1; border: 1px solid rgba(0, 0, 0, 0.05); border-right: 1px solid rgba(0, 0, 0, 0.09); background-color: rgba(0, 0, 0, 0.1); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
#_loading span:before { width: 0; border-right: 1px solid rgba(0, 0, 0, 0.09); background-color: rgba(0, 0, 0, 0.2); z-index: 2; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; -moz-transition: width 0.1s; -o-transition: width 0.1s; -webkit-transition: width 0.1s; transition: width 0.1s; }
#_loading[percent="0"]:before { content: "載入中，請稍候… 0%"; }
#_loading[percent="0"] span:before { width: 0%; }
#_loading[percent="1"]:before { content: "載入中，請稍候… 1%"; }
#_loading[percent="1"] span:before { width: 1%; }
#_loading[percent="2"]:before { content: "載入中，請稍候… 2%"; }
#_loading[percent="2"] span:before { width: 2%; }
#_loading[percent="3"]:before { content: "載入中，請稍候… 3%"; }
#_loading[percent="3"] span:before { width: 3%; }
#_loading[percent="4"]:before { content: "載入中，請稍候… 4%"; }
#_loading[percent="4"] span:before { width: 4%; }
#_loading[percent="5"]:before { content: "載入中，請稍候… 5%"; }
#_loading[percent="5"] span:before { width: 5%; }
#_loading[percent="6"]:before { content: "載入中，請稍候… 6%"; }
#_loading[percent="6"] span:before { width: 6%; }
#_loading[percent="7"]:before { content: "載入中，請稍候… 7%"; }
#_loading[percent="7"] span:before { width: 7%; }
#_loading[percent="8"]:before { content: "載入中，請稍候… 8%"; }
#_loading[percent="8"] span:before { width: 8%; }
#_loading[percent="9"]:before { content: "載入中，請稍候… 9%"; }
#_loading[percent="9"] span:before { width: 9%; }
#_loading[percent="10"]:before { content: "載入中，請稍候… 10%"; }
#_loading[percent="10"] span:before { width: 10%; }
#_loading[percent="11"]:before { content: "載入中，請稍候… 11%"; }
#_loading[percent="11"] span:before { width: 11%; }
#_loading[percent="12"]:before { content: "載入中，請稍候… 12%"; }
#_loading[percent="12"] span:before { width: 12%; }
#_loading[percent="13"]:before { content: "載入中，請稍候… 13%"; }
#_loading[percent="13"] span:before { width: 13%; }
#_loading[percent="14"]:before { content: "載入中，請稍候… 14%"; }
#_loading[percent="14"] span:before { width: 14%; }
#_loading[percent="15"]:before { content: "載入中，請稍候… 15%"; }
#_loading[percent="15"] span:before { width: 15%; }
#_loading[percent="16"]:before { content: "載入中，請稍候… 16%"; }
#_loading[percent="16"] span:before { width: 16%; }
#_loading[percent="17"]:before { content: "載入中，請稍候… 17%"; }
#_loading[percent="17"] span:before { width: 17%; }
#_loading[percent="18"]:before { content: "載入中，請稍候… 18%"; }
#_loading[percent="18"] span:before { width: 18%; }
#_loading[percent="19"]:before { content: "載入中，請稍候… 19%"; }
#_loading[percent="19"] span:before { width: 19%; }
#_loading[percent="20"]:before { content: "載入中，請稍候… 20%"; }
#_loading[percent="20"] span:before { width: 20%; }
#_loading[percent="21"]:before { content: "載入中，請稍候… 21%"; }
#_loading[percent="21"] span:before { width: 21%; }
#_loading[percent="22"]:before { content: "載入中，請稍候… 22%"; }
#_loading[percent="22"] span:before { width: 22%; }
#_loading[percent="23"]:before { content: "載入中，請稍候… 23%"; }
#_loading[percent="23"] span:before { width: 23%; }
#_loading[percent="24"]:before { content: "載入中，請稍候… 24%"; }
#_loading[percent="24"] span:before { width: 24%; }
#_loading[percent="25"]:before { content: "載入中，請稍候… 25%"; }
#_loading[percent="25"] span:before { width: 25%; }
#_loading[percent="26"]:before { content: "載入中，請稍候… 26%"; }
#_loading[percent="26"] span:before { width: 26%; }
#_loading[percent="27"]:before { content: "載入中，請稍候… 27%"; }
#_loading[percent="27"] span:before { width: 27%; }
#_loading[percent="28"]:before { content: "載入中，請稍候… 28%"; }
#_loading[percent="28"] span:before { width: 28%; }
#_loading[percent="29"]:before { content: "載入中，請稍候… 29%"; }
#_loading[percent="29"] span:before { width: 29%; }
#_loading[percent="30"]:before { content: "載入中，請稍候… 30%"; }
#_loading[percent="30"] span:before { width: 30%; }
#_loading[percent="31"]:before { content: "載入中，請稍候… 31%"; }
#_loading[percent="31"] span:before { width: 31%; }
#_loading[percent="32"]:before { content: "載入中，請稍候… 32%"; }
#_loading[percent="32"] span:before { width: 32%; }
#_loading[percent="33"]:before { content: "載入中，請稍候… 33%"; }
#_loading[percent="33"] span:before { width: 33%; }
#_loading[percent="34"]:before { content: "載入中，請稍候… 34%"; }
#_loading[percent="34"] span:before { width: 34%; }
#_loading[percent="35"]:before { content: "載入中，請稍候… 35%"; }
#_loading[percent="35"] span:before { width: 35%; }
#_loading[percent="36"]:before { content: "載入中，請稍候… 36%"; }
#_loading[percent="36"] span:before { width: 36%; }
#_loading[percent="37"]:before { content: "載入中，請稍候… 37%"; }
#_loading[percent="37"] span:before { width: 37%; }
#_loading[percent="38"]:before { content: "載入中，請稍候… 38%"; }
#_loading[percent="38"] span:before { width: 38%; }
#_loading[percent="39"]:before { content: "載入中，請稍候… 39%"; }
#_loading[percent="39"] span:before { width: 39%; }
#_loading[percent="40"]:before { content: "載入中，請稍候… 40%"; }
#_loading[percent="40"] span:before { width: 40%; }
#_loading[percent="41"]:before { content: "載入中，請稍候… 41%"; }
#_loading[percent="41"] span:before { width: 41%; }
#_loading[percent="42"]:before { content: "載入中，請稍候… 42%"; }
#_loading[percent="42"] span:before { width: 42%; }
#_loading[percent="43"]:before { content: "載入中，請稍候… 43%"; }
#_loading[percent="43"] span:before { width: 43%; }
#_loading[percent="44"]:before { content: "載入中，請稍候… 44%"; }
#_loading[percent="44"] span:before { width: 44%; }
#_loading[percent="45"]:before { content: "載入中，請稍候… 45%"; }
#_loading[percent="45"] span:before { width: 45%; }
#_loading[percent="46"]:before { content: "載入中，請稍候… 46%"; }
#_loading[percent="46"] span:before { width: 46%; }
#_loading[percent="47"]:before { content: "載入中，請稍候… 47%"; }
#_loading[percent="47"] span:before { width: 47%; }
#_loading[percent="48"]:before { content: "載入中，請稍候… 48%"; }
#_loading[percent="48"] span:before { width: 48%; }
#_loading[percent="49"]:before { content: "載入中，請稍候… 49%"; }
#_loading[percent="49"] span:before { width: 49%; }
#_loading[percent="50"]:before { content: "載入中，請稍候… 50%"; }
#_loading[percent="50"] span:before { width: 50%; }
#_loading[percent="51"]:before { content: "載入中，請稍候… 51%"; }
#_loading[percent="51"] span:before { width: 51%; }
#_loading[percent="52"]:before { content: "載入中，請稍候… 52%"; }
#_loading[percent="52"] span:before { width: 52%; }
#_loading[percent="53"]:before { content: "載入中，請稍候… 53%"; }
#_loading[percent="53"] span:before { width: 53%; }
#_loading[percent="54"]:before { content: "載入中，請稍候… 54%"; }
#_loading[percent="54"] span:before { width: 54%; }
#_loading[percent="55"]:before { content: "載入中，請稍候… 55%"; }
#_loading[percent="55"] span:before { width: 55%; }
#_loading[percent="56"]:before { content: "載入中，請稍候… 56%"; }
#_loading[percent="56"] span:before { width: 56%; }
#_loading[percent="57"]:before { content: "載入中，請稍候… 57%"; }
#_loading[percent="57"] span:before { width: 57%; }
#_loading[percent="58"]:before { content: "載入中，請稍候… 58%"; }
#_loading[percent="58"] span:before { width: 58%; }
#_loading[percent="59"]:before { content: "載入中，請稍候… 59%"; }
#_loading[percent="59"] span:before { width: 59%; }
#_loading[percent="60"]:before { content: "載入中，請稍候… 60%"; }
#_loading[percent="60"] span:before { width: 60%; }
#_loading[percent="61"]:before { content: "載入中，請稍候… 61%"; }
#_loading[percent="61"] span:before { width: 61%; }
#_loading[percent="62"]:before { content: "載入中，請稍候… 62%"; }
#_loading[percent="62"] span:before { width: 62%; }
#_loading[percent="63"]:before { content: "載入中，請稍候… 63%"; }
#_loading[percent="63"] span:before { width: 63%; }
#_loading[percent="64"]:before { content: "載入中，請稍候… 64%"; }
#_loading[percent="64"] span:before { width: 64%; }
#_loading[percent="65"]:before { content: "載入中，請稍候… 65%"; }
#_loading[percent="65"] span:before { width: 65%; }
#_loading[percent="66"]:before { content: "載入中，請稍候… 66%"; }
#_loading[percent="66"] span:before { width: 66%; }
#_loading[percent="67"]:before { content: "載入中，請稍候… 67%"; }
#_loading[percent="67"] span:before { width: 67%; }
#_loading[percent="68"]:before { content: "載入中，請稍候… 68%"; }
#_loading[percent="68"] span:before { width: 68%; }
#_loading[percent="69"]:before { content: "載入中，請稍候… 69%"; }
#_loading[percent="69"] span:before { width: 69%; }
#_loading[percent="70"]:before { content: "載入中，請稍候… 70%"; }
#_loading[percent="70"] span:before { width: 70%; }
#_loading[percent="71"]:before { content: "載入中，請稍候… 71%"; }
#_loading[percent="71"] span:before { width: 71%; }
#_loading[percent="72"]:before { content: "載入中，請稍候… 72%"; }
#_loading[percent="72"] span:before { width: 72%; }
#_loading[percent="73"]:before { content: "載入中，請稍候… 73%"; }
#_loading[percent="73"] span:before { width: 73%; }
#_loading[percent="74"]:before { content: "載入中，請稍候… 74%"; }
#_loading[percent="74"] span:before { width: 74%; }
#_loading[percent="75"]:before { content: "載入中，請稍候… 75%"; }
#_loading[percent="75"] span:before { width: 75%; }
#_loading[percent="76"]:before { content: "載入中，請稍候… 76%"; }
#_loading[percent="76"] span:before { width: 76%; }
#_loading[percent="77"]:before { content: "載入中，請稍候… 77%"; }
#_loading[percent="77"] span:before { width: 77%; }
#_loading[percent="78"]:before { content: "載入中，請稍候… 78%"; }
#_loading[percent="78"] span:before { width: 78%; }
#_loading[percent="79"]:before { content: "載入中，請稍候… 79%"; }
#_loading[percent="79"] span:before { width: 79%; }
#_loading[percent="80"]:before { content: "載入中，請稍候… 80%"; }
#_loading[percent="80"] span:before { width: 80%; }
#_loading[percent="81"]:before { content: "載入中，請稍候… 81%"; }
#_loading[percent="81"] span:before { width: 81%; }
#_loading[percent="82"]:before { content: "載入中，請稍候… 82%"; }
#_loading[percent="82"] span:before { width: 82%; }
#_loading[percent="83"]:before { content: "載入中，請稍候… 83%"; }
#_loading[percent="83"] span:before { width: 83%; }
#_loading[percent="84"]:before { content: "載入中，請稍候… 84%"; }
#_loading[percent="84"] span:before { width: 84%; }
#_loading[percent="85"]:before { content: "載入中，請稍候… 85%"; }
#_loading[percent="85"] span:before { width: 85%; }
#_loading[percent="86"]:before { content: "載入中，請稍候… 86%"; }
#_loading[percent="86"] span:before { width: 86%; }
#_loading[percent="87"]:before { content: "載入中，請稍候… 87%"; }
#_loading[percent="87"] span:before { width: 87%; }
#_loading[percent="88"]:before { content: "載入中，請稍候… 88%"; }
#_loading[percent="88"] span:before { width: 88%; }
#_loading[percent="89"]:before { content: "載入中，請稍候… 89%"; }
#_loading[percent="89"] span:before { width: 89%; }
#_loading[percent="90"]:before { content: "載入中，請稍候… 90%"; }
#_loading[percent="90"] span:before { width: 90%; }
#_loading[percent="91"]:before { content: "載入中，請稍候… 91%"; }
#_loading[percent="91"] span:before { width: 91%; }
#_loading[percent="92"]:before { content: "載入中，請稍候… 92%"; }
#_loading[percent="92"] span:before { width: 92%; }
#_loading[percent="93"]:before { content: "載入中，請稍候… 93%"; }
#_loading[percent="93"] span:before { width: 93%; }
#_loading[percent="94"]:before { content: "載入中，請稍候… 94%"; }
#_loading[percent="94"] span:before { width: 94%; }
#_loading[percent="95"]:before { content: "載入中，請稍候… 95%"; }
#_loading[percent="95"] span:before { width: 95%; }
#_loading[percent="96"]:before { content: "載入中，請稍候… 96%"; }
#_loading[percent="96"] span:before { width: 96%; }
#_loading[percent="97"]:before { content: "載入中，請稍候… 97%"; }
#_loading[percent="97"] span:before { width: 97%; }
#_loading[percent="98"]:before { content: "載入中，請稍候… 98%"; }
#_loading[percent="98"] span:before { width: 98%; }
#_loading[percent="99"]:before { content: "載入中，請稍候… 99%"; }
#_loading[percent="99"] span:before { width: 99%; }
#_loading[percent="100"]:before { content: "載入中，請稍候… 100%"; }
#_loading[percent="100"] span:before { width: 100%; }
#_loading.hide { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

@-moz-keyframes show { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes show { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes show { 0% { opacity: 0; }
  100% { opacity: 1; } }
