@charset "UTF-8";
#tabs div i:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: medium; text-align: center; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; background-color: #f4f5f7; }
body::-moz-selection { color: white; background-color: #78baff; }
body::selection { color: white; background-color: #78baff; }

@font-face { font-family: "icon"; src: url('../icon/icomoon/fonts/icomoon.eot?1584615498') format('embedded-opentype'), url('../icon/icomoon/fonts/icomoon.woff?1584615498') format('woff'), url('../icon/icomoon/fonts/icomoon.ttf?1584615498') format('truetype'), url('../icon/icomoon/fonts/icomoon.svg?1584615498') format('svg'); }
#tabs div i:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

body { color: rgba(0, 0, 0, 0.7); background: #2e2f41; }

.card { display: inline-block; height: 48px; line-height: 48px; padding: 0 16px; margin: 8px; background-color: white; font-size: 18px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 5px #aaaaaa; -webkit-box-shadow: 0 1px 5px #aaaaaa; box-shadow: 0 1px 5px #aaaaaa; }
.card:before, .card:after { font-size: 15px; }
.card:before { content: attr(title) "："; margin-right: 3px; }
.card:after { content: attr(unit); margin-left: 3px; }

main { position: relative; display: inline-block; width: 100%; background: #2e2f41; color: #f1f1f1; }

#tabs { position: relative; display: inline-block; width: 100%; *zoom: 1; padding: 0 16px; }
#tabs:after { display: table; content: ""; line-height: 0; clear: both; }
#tabs div { position: absolute; right: 0; top: 0; display: inline-block; padding: 0 10px; height: 50px; line-height: 50px; font-size: 20px; font-size: 13px; *zoom: 1; }
#tabs div:after { display: table; content: ""; line-height: 0; clear: both; }
#tabs div > * { float: left; display: inline-block; }
#tabs div i { font-size: 18px; margin-right: 4px; }
#tabs div i:before { content: '\e001'; }
#tabs div b { font-size: 18px; }
#tabs div b:before { content: attr(title) "："; font-size: 16px; font-weight: normal; }
#tabs div b:after { content: attr(unit); margin-left: 3px; font-size: 14px; font-weight: normal; }
#tabs label { position: relative; float: left; cursor: pointer; display: inline-block; padding: 0 20px; margin-top: 14px; height: 41px; line-height: 41px; z-index: 1; background-color: #2e2f41; border: 1px solid #f1f1f1; font-size: 14px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
#tabs label:first-child { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
#tabs label:nth-last-child(2) { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
#tabs label.active { border-bottom: 0; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; z-index: 3; margin-top: 10px; font-size: 16px; height: 45px; line-height: 45px; font-weight: bold; letter-spacing: 1px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
#tabs label + label { margin-left: -1px; }
#tabs:before { content: ''; position: absolute; bottom: 0; left: 0; display: inline-block; width: 100%; height: 1px; border-bottom: 1px solid #f1f1f1; z-index: 2; -moz-box-shadow: inset 0 0 5px rgba(39, 40, 34, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(39, 40, 34, 0.3); box-shadow: inset 0 0 5px rgba(39, 40, 34, 0.3); }

#panels { position: relative; display: inline-block; width: 100%; height: calc(100% - 45px - 10px); }
#panels > div { position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; z-index: 1; background-color: #2e2f41; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
#panels > div.active { position: relative; z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.p0 { padding: 36px 24px 20px 24px; display: flex; justify-content: center; align-items: center; }
.p0 .unit { position: relative; display: inline-block; width: 400px; margin: 5px; }
.p0 .unit:before { content: ''; position: absolute; left: 0; top: 0; display: inline-block; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.03); overflow: hidden; border: 1px solid rgba(0, 0, 0, 0.3); -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.p0 .unit b { display: inline-block; width: 100%; height: 64px; line-height: 64px; padding: 0 20px; color: white; font-size: 20px; }
.p0 .unit .gauge { width: calc(100% - 30px * 2); margin: 10px 30px 40px 30px; }
.p0 .full { display: inline-block; width: 810px; height: 300px; }
@media screen and (max-width: 699px) and (min-width: 0) { .p0 { padding: 36px 10px 20px 10px; } }
@media screen and (max-width: 349px) and (min-width: 0) { .p0 .unit { width: calc(100% - 10px); }
  .p0 .unit .gauge span { height: 32px; line-height: 32px; font-size: 12px; padding: 0 16px; }
  .p0 .unit .gauge span:after { font-size: 12px; }
  .p0 .full { width: calc(100% - 10px); } }
@media screen and (max-width: 449px) and (min-width: 350px) { .p0 .unit { width: calc(100% - 10px); }
  .p0 .unit .gauge span { height: 32px; line-height: 32px; font-size: 16px; padding: 0 16px; }
  .p0 .unit .gauge span:after { font-size: 12px; }
  .p0 .full { width: calc(100% - 10px); } }
@media screen and (max-width: 659px) and (min-width: 450px) { .p0 .unit { width: calc(100% - 10px); }
  .p0 .full { width: calc(100% - 10px); } }
@media screen and (max-width: 769px) and (min-width: 670px) { .p0 .unit { width: calc(50% - 10px); }
  .p0 .unit .gauge span { height: 32px; line-height: 32px; font-size: 14px; padding: 0 16px; }
  .p0 .unit .gauge span:after { font-size: 12px; }
  .p0 .full { width: calc(100% - 10px); } }
@media screen and (max-width: 879px) and (min-width: 770px) { .p0 .unit { width: calc(50% - 10px); }
  .p0 .unit .gauge span { height: 32px; line-height: 32px; font-size: 16px; padding: 0 16px; }
  .p0 .unit .gauge span:after { font-size: 12px; }
  .p0 .full { width: calc(100% - 10px); } }
@media screen and (max-width: 899px) and (min-width: 880px) { .p0 .unit { width: calc(50% - 10px); }
  .p0 .full { width: calc(100% - 10px); } }
@media screen and (max-width: 1899px) and (min-width: 900px) { .p0 .unit { width: calc(50% - 10px); }
  .p0 .full { width: calc(50% - 10px); } }
@media screen and (max-width: 1499px) and (min-width: 1900px) { .p0 .unit { width: 300px; }
  .p0 .unit .gauge span { height: 32px; line-height: 32px; font-size: 14px; padding: 0 16px; }
  .p0 .unit .gauge span:after { font-size: 12px; }
  .p0 .full { width: 610px; } }
@media screen and (max-width: 1699px) and (min-width: 1500px) { .p0 .unit { width: 350px; }
  .p0 .unit .gauge span { height: 32px; line-height: 32px; font-size: 16px; padding: 0 16px; }
  .p0 .unit .gauge span:after { font-size: 12px; }
  .p0 .full { width: 710px; } }
@media screen and (min-width: 1700px) { .p0 .unit { width: 400px; }
  .p0 .full { width: 810px; } }
